.scroll-top {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;

  .arrow {
    text-align: center;
    margin: 1 1;
    padding-right: 1rem;

    .to-top {
      text-align: center;
      font-size: 1rem;
      padding-top: 0.125rem;
      padding-right: 1rem;
    }
  }

  .hide {
    display: none;
  }
}
